<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.boot.core.dao.mapper.TblPeReportManageLogMapper">
  <resultMap id="BaseResultMap" type="com.demo.boot.core.dao.entity.TblPeReportManageLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pe_report_manage_status" jdbcType="VARCHAR" property="peReportManageStatus" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="pe_report_manage_id" jdbcType="VARCHAR" property="peReportManageId" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="selectManageLog" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from tbl_pe_report_manage_log
    where 1 = 1
    <if test="_parameter != null">
      and pe_report_manage_status = #{id}
    </if>
  </select>

</mapper>